
#tagline {
    width: 100%;
    position: relative;
    padding-top:2vh;
    color:white;
    background-color: grey;
    font-size:2.5vh; 
    letter-spacing: 3px;
    padding-right: 20%;
    padding-left: 2%;  
    font-family:"arial";
    padding-bottom: 2vh;
   
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:2vh;
    height:25vh;
    
}

.title {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-size:2.5vh;
    
}
.list {
    text-align:left;
    

}
.menu{
    width:80%;
    height:auto;
    background-color: #E8E8E8;
    margin: auto;
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    padding-top:0vh;
    margin-bottom: 4vh;
    box-shadow: 7px 7px lightgrey;
    overflow:hidden;
    
}
a:hover{
    cursor: pointer;
}
.menu ul {
    padding-left: 5vh;
}
.menu ul li{
    
    text-align: left;
    
    padding-bottom: 1vh;
    padding-left: 5vh;
    
}

.menu .pic {
    height:auto;
    width:110%;
    overflow: hidden;
    display: block;
    
}

.logo_text {

    width: 100%;
    position: absolute;
    top:55vh;
    color:#595959;
    font-size:2.5vh; 
    letter-spacing: 3px;
    text-align:center;
    padding-right: 20%;
    padding-left: 20%;
    font-family:"arial";
    
}
.lower_blocks_l {
    height:1px;
    /*height: calc(100% - (70vh));*/
    width:100%;
    display:inline-block;
    /*background-color: lightgray;*/
    position: realtive;
    top:6vh;
}

.box {
    display: inline-block;
    width: 49%;
    height: 20vh;
    text-align: center;
    margin:auto;
    margin-top:0%;
    margin-bottom:0%;
    padding-left: 0%;
    padding-right:0%;
    /*background-color: #F5F5F5;*/
    vertical-align: middle;
}
.box_a {
    padding-top: 7vh;
    font-size:2vh;
    font-family:"helvetica";
    letter-spacing: 2px;
    
    
}

.footer {
    width:50%;
    top:3vh;
    height: 30%;
    /*height: calc(100% - (70vh));*/
    color:gray;
    position:relative;
    font-weight: 200;
    
}
.footer p{
    position: relative;
    
    font-family:"arial";
    
    letter-spacing: 2px;
}
.footer ul {
    padding-left:0
}
.footer ul li{
    position:relative;
    font-size:2vh;
    margin:auto;
    padding-left:0;
    list-style: disc;
    font-family:"helvetica";
    letter-spacing: 2px;
    top:1vh;
    text-align:left;
}
/*MOBILE SIZE*/
@media (max-width: 950px){
    
            .box {
            display:block;
            width: 100%;
        }
    .box_a{
        height:7vw;
        padding-top:1.5vw;
        
    }
}


#summary_title {
        font-family:"arial";
    font-size:2vh;
    letter-spacing: 2px;
}